html{
    background: linear-gradient(#0c4525, #051c0f);
    background-attachment: fixed;
    font:20px monospace;
    color:beige;
}
#login_box{
    margin:auto;
    text-align: center;
    padding: 20px;
    box-shadow:#2b6142 0px 20px 30px -10px;;
    background-color:#010804;
    border-radius: 20px;
}

button{
    width:40%;
}
input{
    font-size: 20px;
}
@media screen and (min-width:600px) {
    #login_box{
        width:50%;
    }
}
