
h1{
    text-align: center;
    font: 2em fantasy;
}

body{
    font-size: 32px;
}


#demos{
    margin:auto;
    display:flex;
    justify-content: space-between;
    width:50%;
    flex-wrap: wrap;
    height:300px;
    align-content: space-between;
}

.demo{
    width:200px;
    height:50px;
}